body {
  max-width: 380px;
  margin: auto;
  background: #fff;
  font-family: 'Maven Pro', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

header {
  background-image: url(../img/bg-header.png);
  border-top: 8px solid #57bb6b;
  padding: 30px 30px 10px;
}

.title-box {
  background: #ffffffd2;
  color: #57bb6b;
  text-align: center;
  padding: 15px 40px 25px;
  margin: 0 0 20px;
}

.tagline {
  font-size: 20px;
  margin: 0;
}

.cta-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  margin: 20px 0 10px;
}

.cta {
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 400;
  margin: 8px 0;
}

.cta-color {
  background: #57bb6b;
  color: #fff;
}

.cta-light {
  background: #fff;
  color: #57bb6b;
}

header a {
  text-decoration: none;
}

main {
  text-align: center;
}

h2 {
  font-size: 26px;
  font-weight: 700;
}

.title-intro {
  margin: 90px 50px 25px;
}

.title-products {
  margin: 25px 50px 25px;
}

.title-contacts {
  margin: 35px 50px 25px;
  color: #57bb6b
}

p {
  font-family: 'Quattrocento', serif;
  font-size: 16px;
  margin: 0 65px;
}

.container-icons {
  display: flex;
  justify-content: space-between;
  margin: 30px 65px 90px;
}

.icon {
  max-width: 28px;
}

.section-produits {
  background: #57bb6b;
  color: #fff;
  padding: 20px 0;
}

.card {
  display: flex;
  text-align: left;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 30px;
  padding: 20px 35px;
  color: #000;
  filter: drop-shadow(0 0 0.3rem #0000008a);
}

.card-banane {
  background: #fff8d7;
  border-radius: 20px;
}

.card-kiwi {
  background: #c4f2ad;
  border-radius: 20px;
}

.card-cafe {
  background: #d3c6b2;
  border-radius: 20px;
}

.card-fraise {
  background: #f7a4b4;
  border-radius: 20px;
}

.card p {
  font-size: 16px;
  color: #00000080;
  margin: 0;
}

.card a {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  align-self: flex-end;
  text-decoration: solid underline #000;
}

.card img {
  max-width: 80px;
  margin: 50px 0 0;
}

h3 {
  font-family: 'Sriracha', cursive;
  font-size: 30px;
  font-weight: 400;
  margin: 0;
}

main a {
  text-decoration: none;
}

footer {
  text-align: center;
}

.p-footer {
  font-family: 'Maven Pro', sans-serif;
  color: #57bb6b;
  font-size: 12px;
  font-weight: 400;
  margin: 70px 80px 0;
}

.icon-banane-reverse {
  transform: scaleX(-1);
}

footer .container-icons {
  margin: 30px 65px 40px;
}