body {
  max-width: 380px;
  margin: auto;
  background: #fff;
  font-family: 'Maven Pro', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background-image: url(../img/bg-header.png);
  border-top: 8px solid #57bb6b;
  padding: 30px 30px 20px 30px;
}

.title-box {
  background: #ffffffd2;
  color: #57bb6b;
  text-align: center;
  text-align: center;
  padding: 15px 40px;
  margin: 0 0 20px;
}

.tagline {
  font-family: 'Quattrocento', serif;
}

.cta-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 20px 0 12px;
}

.cta {
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 300;
  margin: 8px 0;
}

.cta-color {
  background: #57bb6b;
  color: #fff;
}

.cta-light {
  background: #fff;
  color: #57bb6b;
}

header a {
  text-decoration: none;
}

h3 {
  font-family: 'Sriracha', cursive;
}